@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.productLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.productSection {
    padding: 16px;
    text-align: center;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.filterToggleContainer {
    display: flex;
    gap: 16px;
}

.mainContent {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 80px;
    position: relative;
}

.sidebar {
    width: 20%;
    background-color: white;
    padding: 16px;
    transition: transform 0.3s ease-in-out;
}

.hide {
    display: none;
}

.productListWrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    z-index: 1;
    overflow-y: auto;
}

.productListWrapper > div {
    flex: 1 0 calc(33.33% - 16px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .filterSection {
        display: none;
    }

    .productListWrapper > div {
        flex: 1 0 calc(50% - 16px);
    }

    .mainContent {
        flex-direction: column;
    }

    .productListWrapper {
        width: 100%;
    }
}

.filterSection {
    width: 90%;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(33.33% - 16px);
    box-sizing: border-box;
    overflow: hidden; 
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imageContainer img {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 8px;
}

.titleWithIcon {
    margin: 10px 0;
}

.descriptionWithIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productDescription {
    margin: 0;
    flex-grow: 1;
}

.favorited,
.notFavorited {
    cursor: pointer;
    margin-left: 8px;
}

.container {
    padding: 10px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.productHeader {
  text-align: center;
  margin-bottom: 20px;
  display: flex; /* Added to use flexbox */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
  height: 100%;
}

.productHeader h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.productHeader p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  max-width: 800px;
  line-height: 1.5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sortOptions {
    margin-top: 10px;
}

.productDescription {
    font-size: 0.8rem;
    color: #777;
}

.signInText {
    text-decoration: underline !important;
    cursor: pointer;
    color: inherit;
}

.discoverOurProduct {
    font-size: 40px;
    font-weight: 400;
    color: #303030;
}

.recommendedContainer {
    display: flex;
    gap: 8px;
    text-align: center;
    font-weight: bold;
}

.thinLine {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

@media (max-width: 480px) {
    .productListWrapper > div {
        flex: 1 0 calc(50% - 16px);
    }

    .productCard {
      max-width: calc(50% - 16px);
    }

    .imageContainer img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .productCard {
        max-width: calc(50% - 16px);
    }
}
