/* global styles */

@import '@fontsource/poppins/400.css'; 
@import '@fontsource/poppins/700.css'; 

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  
  body, .filterSection, .productSection {
    font-family: 'Poppins', sans-serif;
  }
  